---
pagination:
  data: projects
  size: 1
  alias: project
permalink: "en/{{ project.url | slugify }}/index.html"
layout: layout-project.njk
---
{{ project.description['en'] | transformCustomTags(project) | safe }}