@media screen and (max-width: 882px) {
    /*header {
        flex-direction: column;
        padding-bottom: 2rem;
        width: 100%;
        height: auto;

        ul {
            display: inline-flex;
            grid-template-columns: repeat(5, 1fr);
            width: 100%;
            margin: 0;
            padding: 0;
            //column-gap: 0.85rem;
            gap: 1.5rem;
            justify-content: center;
        }

        li {
            width: fit-content;
        }

        li>a {
            font-size: 100%;
        }
    }*/

    main {
        #home {
            padding-top: 6rem;
            flex-direction: column;
            align-items: center;

            .text-nb {
                align-items: center;
                text-align: center;
                margin: 0 0 2rem 0;
            }

            .big-square {
                width: 70%;
            }
        }
    }

    .card {
        width: 100%;

        img {
            width: 30%;
        }
    }

    .projectMain,
    .project {
        height: 100%;

        img {
            width: 100% !important;
        }
    }

    .modal {
        .images {
            grid: none !important;
            img {
                height: 8rem !important;
            }
        }

    }


    #image-modal {
        .modal.image-modal {
            width: 90%;
            height: auto;
        }
    }

    .buttons-legend {

        #nextBtnImg {
            bottom: 10% !important;
        }

        #prevBtnImg {
            bottom: 10% !important;
        }

        #nextBtnImg,
        #prevBtnImg {
            width: 4rem !important;
            height: 4rem !important;
            font-size: 2rem !important;
        }
    }

    .tags {
        //justify-content: center;
    }

    .tag {
        font-size: 0.8rem;
    }

    .info-list {
        column-gap: 2rem !important;
        display: inline !important;

        p {
            padding-top: 0.4rem;
            font-size: 0.9rem;
        }

        .buttons {
            padding-top: 0.4rem !important;
        }
    }
}

@media screen and (max-width: 850px) {
    header {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        //padding-bottom: 2rem;
        width: 100%;
        height: auto;

        ul {
            display: inline-flex;
            grid-template-columns: repeat(5, 1fr);
            width: 100%;
            margin: 0;
            padding: 0;
            //column-gap: 0.85rem;
            gap: 0.5rem;
            justify-content: center;
        }

        li {
            width: fit-content;
        }

        li>a {
            font-size: 80%;
        }
    }

    footer {
        p {
            width: 70%;
        }
    }
}

@media screen and (max-width: 1000px) {
    #socialsTop {
        justify-content: center;
    }

    .projectMain {
        img {
            width: 100% !important;
        }

        .date {
            font-size: 0.8rem;
        }

        .tag {
            font-size: 1rem;
        }
    }

    #projects-list {
        max-width: 90% !important;
    }

    #mainProjects-list {
        max-width: 90% !important;
    }
}