@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        padding-bottom: 2rem;

        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
            margin: 0;
            padding: 0;
            column-gap: 1rem;
        }
    }

    main {
        #home {
            padding-top: 6rem;
            flex-direction: column;
            align-items: center;

            .text-nb {
                align-items: center;
                text-align: center;
                margin: 0 0 2rem 0;
            }

            .big-square {
                width: 100%;
                height: 25rem;
            }
        }
    }

    .card {
        width: 100%;

        img {
            width: 30%;
        }
    }

    #image-modal {
        .modal.image-modal {
            width: 90%;
            height: auto;
        }
    }
}