@media screen and (max-width: 882px) {
    header {
        flex-direction: column;
        padding-bottom: 2rem;
        width: 100%;
        height: auto;

        ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: 100%;
            margin: 0;
            padding: 0;
            column-gap: 0.85rem;
        }

        li>a {
            font-size: 90%;
        }



    }

    main {
        #home {
            padding-top: 6rem;
            flex-direction: column;
            align-items: center;

            .text-nb {
                align-items: center;
                text-align: center;
                margin: 0 0 2rem 0;
            }

            .big-square {
                width: 70%;
            }
        }
    }

    .card {
        width: 100%;

        img {
            width: 30%;
        }
    }

    .projectMain {
        //width: 100% !important;

        //width: 70%;
        height: 100%;
        img {
            width: 30% !important;
        }
    }

    .project {
        width: 80% !important;
    }

    #image-modal {
        .modal.image-modal {
            width: 90%;
            height: auto;
        }
    }
}
@media screen and (max-width: 1000px) {
    .projectMain {
        width: 100% !important;

        //width: 70%;
        height: 100%;
        img {
            width: 30% !important;
        }
    }
}