@use "sass:color";
@import "fonts.scss";
//$gray: #142736;
//$cyan: #6099c6;

$red: #c04d4d;
//$MainColor : #6099c6;
$MainColor : #2379bb;
$SecondColor : #142736;
$ButtonHoverColor : rgb(53, 100, 136);
$AColor : #DFE4E4;
$AHoverColor : #DFE4E4;
$IconColor : #DFE4E4;
$ButtonCV: #BB6523;
$ButtonHoverCV: #a55c23;
$BoxShadow: #142736;
$TextColor : #DFE4E4;
$ProjectTextColor : #142736;
$BackgroundColor : #142736;
$ProjectColor : #DFE4E4;

:root {
    --visible-items: 4.5;
}

@media (max-width: 1024px) {
    :root {
        --visible-items: 2.5;
    }
}

@media (max-width: 600px) {
    :root {
        --visible-items: 1.5;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    background: url(../img/bg.png);
    background-color: $BackgroundColor;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: $TextColor;
}

.bodyHidden {
    overflow: hidden;
}

header,
footer {
    display: flex;
    width: 90%;
    margin: 0 auto;
    z-index: 10;
}

b {
    color: $MainColor;
}

a {
    color: $TextColor;
    text-decoration: none;
    transition: 200ms ease-in-out color;

    .active {
        color: $MainColor;
    }

    &:hover {
        color: color.adjust($MainColor, $lightness: -5%);
    }
}

#profil,
#contact {
    font-size: 1.1rem;
}

#contact>p>b>a {
    color: $MainColor;
    text-decoration: underline;

    &:hover {
        color: $TextColor;
    }
}

#profil,
#contact,
#mainProjects,
#projects {
    &>h2 {
        font-size: 2.5rem;
    }
}

button,
a.button {
    background: $MainColor;
    color: $TextColor;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    justify-content: center;
    transition: 200ms ease-in-out background, 200ms ease-in-out box-shadow;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .2);
    font-size: .9rem;

    &:hover {
        background: color.adjust($ButtonHoverColor, $lightness: -5%);
        box-shadow: 0 .25rem .55rem rgba(0, 0, 0, .3);
        cursor: pointer;
    }

    &.icon {
        color: $MainColor;
        background: $IconColor;
        padding: .5rem .75rem;

        &:hover {
            background: color.adjust($TextColor, $alpha: -.25);
        }
    }
}

.buttons {
    display: flex;
    column-gap: .5rem;
    flex-wrap: wrap;
    row-gap: .5rem;
    margin-top: 1rem;
}

.cv {
    .button {
        background-color: $ButtonCV;
        color: $TextColor;
    }

    .button:hover {
        background: color.adjust($ButtonHoverCV, $lightness: -5%);
    }
}

header {
    position: fixed;
    margin: 0 auto .5rem auto;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    //padding: 1rem 2rem;
    padding-left: 5%;
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-right: 5%;
    background: $SecondColor;
    box-shadow: 0 0 2rem 2.5rem $BoxShadow;
    height: 10%;
    align-items: center;
    border-radius: 0% 0% 0.5rem 0.5rem;

    ul {
        list-style: none;
        display: flex;
        column-gap: 2rem;
        align-items: center;
        padding: 0;

        li {
            padding: 0;
        }
    }
}

.big-square {
    border: solid 3px $MainColor;
    width: 20rem;

    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0.5rem 2rem color.adjust($MainColor, $alpha: -.75, $lightness: 10%);

    * {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.text-nb {
    display: flex;
    flex-direction: column;

    p {
        font-size: 1.5rem;
    }

    &.text {
        background: white;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        border-radius: .5rem;
        padding: 2rem;
        min-width: 20rem;
    }
}

main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    row-gap: 1rem;
    padding-top: 8rem;

    /*    h2.title {
        margin: 1.5rem 0 .5rem 0;
    }
    */
    .socials {
        margin-top: 0.7rem;

        img {
            height: 1.5rem;
            fill: white;
        }
    }

    #home {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        column-gap: 3rem;
        padding: 1rem 0 0 0;

        .text-nb {
            margin: auto 0 auto 2rem;
            text-align: left;
            align-items: flex-start;

            h1 {
                margin: 0;
                font-size: 4rem;
                line-height: 3.7rem;
                padding: 1rem 0 0.25rem 0;
            }

            p {
                margin: 0;

                &:first-child {
                    margin: 0 0 -.75rem 0;
                    color: color.adjust($MainColor, $lightness: 20%);
                }

                max-width: 40rem;
            }
        }
    }

    #mainProjects,
    #projects {
        position: relative;
        max-width: 100%;
    }

    .nav-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: $MainColor;
        color: $TextColor;
        border: none;
        padding: 0.5rem 1.25rem;
        cursor: pointer;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        z-index: 1;
        transition: background 0.2s ease;
    }

    .nav-btn:hover {
        background: $ButtonHoverColor;
    }

    .nav-btn.left {
        left: 0.5rem;
    }

    .nav-btn.right {
        right: 0.5rem;
    }

    #mainProjects-list,
    #projects-list {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% - (var(--visible-items) - 1) * 1rem) / var(--visible-items));
        gap: 1rem;
        overflow-x: auto;
        //scroll-snap-type: x proximity;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        padding-left: 0rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        margin: auto;
    }

    #mainProjects-list::-webkit-scrollbar {
        display: none;
    }

    #projects-list::-webkit-scrollbar {
        display: none;
    }

    .tags-list {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        img {
            width: 2rem;
        }

        margin-bottom: 0.5rem;
    }


    .projectMain,
    .project {
        background-color: $ProjectColor;
        color: $ProjectTextColor;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        z-index: 0;
        transition: opacity 0.2s ease, scale 0.1s ease;
        scroll-snap-align: start;

        &:hover {
            cursor: pointer;
            scale: 1.01;
            box-shadow: $BoxShadow;
        }

        .imgDiv {
            position: relative;
            justify-content: center;
        }

        img {
            width: 100%;
        }

        .type {
            position: absolute;
            bottom: 0%;
            background-color: $SecondColor;
            color: $TextColor;
            left: 50%;
            transform: translate(-50%, 50%);
            padding: 0.15rem 0.7rem 0.15rem 0.7rem;
            border-radius: 0.5rem;
            text-align: center;
        }

        .title {
            font-size: 1.3rem;
            //font-size: max(1.25rem, 16px);
            //font-size: 16px;
            text-align: center;
            height: 2.5rem;
            margin-left: 0.2rem;
            margin-right: 0.2rem;
        }

        @media screen and (max-width: 1600px) {
            .title {
                font-size: 1.1rem;
            }
        }

        @media screen and (max-width: 1000px) {
            .title {
                font-size: 1rem;
            }
        }

        .desc {
            font-size: 0.85rem;
            text-align: center;
            margin-top: 0.75rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        .text {
            margin-top: 0.25rem;
        }

        .tags {
            position: absolute;
            top: 1%;
            left: 2%;
            display: flex;
            gap: 0.2rem;
            flex-wrap: wrap;
        }

        .tag {
            font-size: 0.7rem;
            background-color: $TextColor;
            color: $SecondColor;
            color: #000;
            width: fit-content;
            border-radius: .5rem;

            &:hover {
                cursor: default;
                background-color: $TextColor;
            }
        }
    }
}

.card {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: .5rem;
    background: white;
    color: $SecondColor;
    overflow: hidden;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .2);
    padding-right: 1rem;

    img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        box-shadow: .25rem 0 .5rem color.adjust($MainColor, $alpha: -.25, $lightness: 10%);
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 1rem 1rem;
        border-left: solid .5px color.adjust($MainColor, $alpha: -.25, $lightness: 10%);

        .title {
            margin: 0;
        }

        p {
            margin: 0 0 1rem 0;
        }

        .buttons {
            margin: auto 0 0 0;
        }
    }
}


.tag {
    background: $MainColor;
    color: $TextColor;
    padding: .4rem 1rem;
    font-size: .95rem;
    border-radius: .5rem;
    box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 10%);
    transition: 200ms ease-in-out box-shadow, 200ms ease-in-out background, 200ms ease-in-out color;
    width: fit-content;

    &.active {
        background: $SecondColor;
        color: white;
        box-shadow: 0 0.35rem 0.25rem color.adjust($SecondColor, $alpha: -.25);
    }

    &::selection {
        background: transparent;
    }

    &:hover {
        cursor: pointer;
        background-color: $ButtonHoverColor;
    }
}

#project-modal,
#image-modal {
    background: color.adjust($SecondColor, $alpha: -.05);
    color: $SecondColor;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    animation: project-modal-appear 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &.disappear {
        animation: project-modal-disappear 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .info-list {
        display: flex;
        column-gap: 4rem;
        height: fit-content;
        flex-wrap: wrap;

        p {
            margin-top: auto;
            margin-bottom: auto;
        }

        b {
            color: $SecondColor;
        }
    }

    .close {
        position: fixed;
        top: 2.5%;
        left: 2.5%;
        width: 4rem;
        height: 4rem;
        border: none;
        border-radius: 100%;
        background: white;
        color: $red;
        box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .2);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200ms ease-in-out box-shadow, 200ms ease-in-out background, 200ms ease-in-out color;

        &:hover {
            cursor: pointer;
            box-shadow: 0 .35rem .25rem color.adjust($red, $alpha: -.25, $lightness: 10%);
            background: $red;
            color: white;
        }

        span {
            font-size: 3rem;
            font-family: Nunito, sans-serif;
            line-height: 1.7rem;
            margin-top: -0.35rem;
        }
    }

    .desc {
        margin-bottom: 0;
        margin-top: 0;
    }

    #leaveScreen {
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .buttons-legend {
        width: fit-content;
        background-color: #000;
        height: fit-content;
        display: flex;
        justify-content: center;
        position: fixed;
        left: 50%;
        bottom: 0%;

        #nextBtnImg {
            position: fixed;
            right: 4%;
            bottom: 50%;
        }

        #prevBtnImg {
            position: fixed;
            left: 4%;
            bottom: 50%;
        }

        #nextBtnImg,
        #prevBtnImg {
            width: 5rem;
            height: 5rem;
            font-size: 3rem;
        }

        p {
            padding: .5rem 1.5rem;
            color: white;
            text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 0 0 .2rem #000;
            text-align: center;
            transform: translate(-50%);
        }
    }

    .legende {
        position: fixed;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding: .5rem 1.5rem;
        color: white;
        text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 0 0 .2rem #000;
        text-align: center;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(255, 255, 255);
        border-radius: .5rem;
        box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .2);
        padding: 1rem 2rem;
        width: 90%;
        min-height: 50%;
        height: fit-content;
        max-height: 90%;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        animation: modal-appear 300ms cubic-bezier(0.4, 0, 0.2, 1);

        &.image-modal {
            overflow-y: scroll;
            overflow-x: scroll;
            background: transparent;
            padding: 0;
            width: 80%;
            height: 95%;
            scrollbar-color: $MainColor $SecondColor;
            background-color: #dfe4e467;
            justify-content: center;
            /*label {
                height: fit-content;
                overflow-y: auto;
                width: 100%;
                object-fit: contain;
            }*/

            input[type=checkbox] {
                display: none
            }

            img {
                transition: transform 0.25s ease; //, padding-left 0.25s ease;
                cursor: zoom-in;
                transform-origin: 0% 0%;
            }

            input[type=checkbox]:checked~img {
                //padding-left: 20%;
                transform: scale(1.75);
                cursor: zoom-out
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }


        }

        &.disappear {
            animation: modal-disappear 300ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .title {
            margin: 1rem 0 0 0;
        }

        .tags {
            display: flex;
            column-gap: .5rem;
            row-gap: .25rem;
            padding-top: .25rem;
            flex-wrap: wrap;

            .tag {
                color: white;
                background: $SecondColor;
                font-size: .8rem;
                padding: .35rem .75rem;

                &:hover {
                    cursor: default;
                }
            }
        }

        .images {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;

            * {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 15rem;
                max-height: 15rem;
                object-fit: cover;
                object-position: center;
                border-radius: .5rem;
                box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .2);
                transition: 200ms ease-in-out transform, 200ms ease-in-out box-shadow;

                &:hover {
                    transform: translateY(-.5%);
                    cursor: pointer;
                    box-shadow: 0 .35rem .25rem color.adjust($MainColor, $alpha: -.25, $lightness: 10%);
                }
            }
        }

        .buttons {
            padding: 0rem 0 0 0;
            margin: auto 0 0rem auto;
        }
    }
}

footer {
    padding: 4rem 0 3rem 0;
    justify-content: center;
    background: linear-gradient(180deg, transparent, color.adjust($SecondColor, $alpha: -.2) 90%);
    width: 100%;
    color: color.adjust($MainColor, $lightness: -10%);
}

@keyframes project-appear {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-appear {
    from {
        opacity: 0;
        transform: translate(-50%, -47.5%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes modal-disappear {
    to {
        opacity: 0;
        transform: translate(-50%, -47.5%);
    }

    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes project-modal-disappear {
    to {
        opacity: 0;
    }

    from {
        opacity: 1;
    }
}

@keyframes project-modal-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes floatingAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

@import "mobile.scss";