html{
	background-color: black; 
	background-image: url("../images/4.png");
	overflow-y: hidden; 
	overflow-x: hidden;
}
body{
	color : white;
	display:flex;
	flex-direction: column;
	text-align: center;
	padding-left: auto;
	padding-right: auto;

}