body{
	position : relative;
	min-height : 100vh;
	width : 100%;
	overflow: hidden;
}
 

.sidebar{
	color:#fff;
	position: fixed;
	top:0;
	left: 0;
	height : 100%;
	width: 15%;
	background: #11101d;
	padding: 6px 14px;
}

.sidebar h1{
	text-align: center;
	padding-left: 0;
}

.sidebar ul{
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
}

.sidebar ul li{
	display: flex;
	list-style-type: none;
	justify-content: center;
	font-size: 4vh;
	margin: 0;
}

.sidebar a{
 color:#fff;
}